*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'lato';
    font-size: 16px;
    background: #fff;

    margin: 0;
    background-image: url('../img/eset.jpg');

    background-color: #D1D1D1;
}

.container {
    width: 100%;
    height: 300px;
}
  
.text {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -4px 3px 0 #000000, -14px 7px 0 #0a0e27;
}

.header {
    padding: 60px;
    text-align: center;
    font-size: 30px;
    color: #000000;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#ffffff;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #2b2b2c;
    cursor: pointer;
    margin-top: 10px;
}

#login button:hover {
    background-color: #ffffff;
    color:#000000;
}
  
  
  




































.menus{
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{

    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e9eaba3, #eef2f395); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e9eaba1, #eef2f391), url(eset.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   
    position: relative;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
}

header .menu a{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header .menu a:hover{
    text-decoration: underline;
}

header .texto-principal{
    margin: 15px 0;
    text-align: center;
    font-size: 50px;
    font-family:cursive;
    color: #131313;
    margin-bottom: 5px;
}

header .texto-principal .linea{
   width: 600px;
   margin: auto;
   height: 3px;
   background: rgb(14, 42, 135);
}

main .inf{
    background: linear-gradient(#C4C4C4, #A2A2A2);
    padding: 30px 0;
    text-align: center;
    opacity: 0.9;
}

main .inf .info h2{
    font-size: 30px;
    font-weight: 900;
    color: #151515;
    margin-bottom: 20px;
}

main .inf .info{
    font-size: 30px;
    font-weight: 900;
    color: #151515;
    margin-bottom: 20px;

    flex-wrap: wrap;
}


.subtitulo{
   font-size: 70px;
   text-align: center;
}























.form {
    border: 2px solid #6d6d6d;
    text-align:center;
    background: linear-gradient(#C4C4C4, #A2A2A2);
    
    width: 100%;
    height: 100%;
    padding: 50px 30px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}


.form select {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #000000;
    text-align: center;

    width: 50%;
    height: 30px;
    
    margin-bottom: 30px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.form .login-input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #000000;
    text-align: center;

    width: 50%;
    height: 30px;
    
    margin-bottom: 30px;
    position: relative;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.form .select-SN{
    margin: center;
    position: relative;
    left: 33px;

    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.form .login-input3{
    background: rgb(123, 149, 182); 
    color: black;

    font-family: 'Overpass', sans-serif;
    font-size: 150%;
    text-align: center;

    width: 50%;
    height: 30px;
    
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.form .login-input2{
    color: #000000;
    text-align: center;
    width: 5%;
    height: 40px;

    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    position: relative;
    left: 39px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

}

.input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #000000;
}

.boton {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#ffffff;
    width: 30%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #2b2b2c;
    cursor: pointer;
    margin-bottom: 10px;
}

.boton:hover {
    background-color: #880202;
    color:#000000;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #000000;
}